---
layout: markdown_page
title: "📝 Category Direction - Team Planning"
description: This is the category strategy for Team Planning in GitLab; which is part of the Plan stage's Project Management group. Learn more here!
canonical_path: "/direction/plan/project_management/team_planning/"
---

This direction page was last reviewed on:
<%= partial("direction/plan/project_management/team_planning/last_updated") %>

- TOC
{:toc}

| Category | **Team Planning**                |
| -------- | -------------------------------- |
| Stage    | [Plan](/direction/plan/)         |
| Group | [Project Management](/direction/plan/project_management/) |
| Maturity | [Viable](/direction/maturity/) |


## Introduction and how you can help

👋 This is the category strategy for Planning Analytics in GitLab, which is part of the Project Management group with the Plan stage. Please reach out to the group's Product Manager, [Gabe Weaver](https://gitlab.com/gweaver) ([E-mail](mailto:gweaver@gitlab.com)), if you'd like to provide feedback or ask any questions related to this product category.

This strategy is a work in progress and everyone can contribute:

- Please comment and contribute to the related [issues](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=group%3A%3Aproject%20management) and [epics](https://gitlab.com/groups/gitlab-org/-/epics?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Category%3ATeam%20Planning). Sharing your feedback directly on GitLab.com is the best way to contribute to our strategy and vision.
- Please share feedback directly via email, Twitter, or [schedule a quick Zoom for us to connect](https://calendly.com/gweaver/45-minute-meeting).

## Category overview

<%= partial("/direction/plan/project_management/team_planning/overview") %>

### Target audience

<%= partial("direction/plan/templates/target_audience") %>

## What we recently completed

<%= partial("/direction/plan/project_management/team_planning/recent_accomplishments") %>

## What we are currently working on

<%= partial("/direction/plan/project_management/team_planning/current_focus") %>

Our group level [issue board](https://gitlab.com/groups/gitlab-org/-/boards/1235826?&label_name[]=devops%3A%3Aplan&label_name[]=group%3A%3Aproject%20management) provides detailed insight into everything currently in flight.

## What's next for us 

<%= partial("/direction/plan/project_management/team_planning/whats_next") %>

## What we're not doing

<%= partial("/direction/plan/project_management/team_planning/not_doing") %>

## Maturity plan

<%= partial("/direction/plan/project_management/team_planning/maturity_plan") %>

## Performance indicators

<%= partial("/direction/plan/project_management/performance_indicators") %>

## Competitive landscape

<%= partial("/direction/plan/project_management/competitive_landscape") %>

## Analyst landscape

<%= partial("/direction/plan/project_management/analyst_landscape") %>

## Most requested issues & epics

- [All users](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=popularity&state=opened&label_name[]=group::project+management)
- [Customer / Customer Success](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=popularity&state=opened&label_name[]=group::project+management&label_name[]=customer)
- [Dogfooding](https://gitlab.com/gitlab-org/gitlab/-/issues?sort=popularity&state=opened&label_name[]=group::project+management&label_name[]=Dogfooding)

## Top strategy items

While we are not currently working on the items listed within this section, we believe that solving for them will significantly contribute to [Plan's 3-year strategy](https://about.gitlab.com/direction/plan/#3-year-strategy). Once validated and team capacity is available, we will move these strategic items into our queue for prioritization and implementation. 

### Enterprise planning frameworks support

<%= partial("/direction/plan/project_management/theme_agile_frameworks") %>

### Use DevOps data to guide planning

See the [Planning Analytics Category Direction](/direction/plan/project_management/planning_analytics)

### Automation and machine learning to improve quality of life

<%= partial("/direction/plan/project_management/theme_automation") %>

## Jobs To Be Done 

We are currently focused on providing industry-leading solutions for the following [Jobs To Be Done (JTBD)](https://about.gitlab.com/handbook/product/ux/jobs-to-be-done/):

<%= partial("direction/jtbd-list", locals: { stage_key: "team_planning" }) %>
