%p
  = "Average rate for the 12 months preceeeding #{data.currency_conversions.updated_at} based on Oanda data"

%div.table-responsive
  %table
    %thead
      %tr
        %th
          Currency
        %th
          Rate from USD
        %th
          Rate to USD
    %tbody
      - data.currency_conversions.currency_rates.each do |currency|
        %tr
          %td
            = currency["currency_code"]
          %td
            = currency['rate_from_usd']
          %td
            = currency["rate_to_usd"]
